/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.suvarna .large-header {
	background: #7f8c8d;
}

.suvarna .main-title {
	cursor: pointer;
	position: absolute;
	margin: 0;
	padding: 10px 40px;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	text-transform: uppercase;
	font-size: 2.2em;
	letter-spacing: 0.1em;
	border: 10px double #f9f1e9;
	font-family: Londrina Outline, sans-serif;
}

.suvarna .main-title:hover {
	background: #333333;
}

.suvarna .main-title a {
	text-decoration: none;
	color: inherit;
}

.love {
	background: rgba(255, 118, 0, 0.23);
}
.love .names-container, .love .messages-container {
	display: inline-block;
	vertical-align: top;
}

.love .names-container {
	width: 25%;
	/*border: 1px solid black;*/
}
.love .names-container ul {
	list-style-type: none;
}

.love .names-container li {
	padding: 1%;
	cursor: pointer;
	text-align: center;
	border: 1px solid black;
	font-size: 1.5rem;
	font-family: 'Pacifico', cursive;
}

.love .names-container h2 {
	text-align: center;
	padding-left: 17%;
	font-size: 2rem;
	font-family: 'Rochester', cursive;
}
.love .messages-container {
	margin-left: 4%;
  text-align: center;
	width: 60%;
}

.love .messages-container h2{
	font-size: 2rem;
font-family: 'Homemade Apple', cursive;
}

.love .messages-container .real-msg {
	font-size: 2rem;
font-family: 'Clicker Script', cursive;
}

.name.active {
	background: black;
	color:white;
}
@media only screen and (max-width : 768px) {
	.suvarna .main-title{
		font-size: 3em;
	}
}
